/*---------Responsive Breakpoints---------*/
$tablet-screen-size: 768px;
$desktop-screen-size: 1280px;
/*---------Colors---------*/
/*---Primary Colors---*/
$black:#0C1E1A; //Primary text color
$forest-green: #1E6655; //Primary accent color. Used for CTAs & icons
$pistachio: #EFFAF7; //Primary background color
/*---Secondary Colors---*/
$sea-green: #B7CEC9; //Border color. Optional text color
$sage: #E4EFEC; //Alternative background color
$white: #FFFFFF; //Alternative text color. Background color for input fields & optional background for tags
$red: #B10606; //Error state colour