@use "../../styles/partials/global";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.calendar{
    background-color: $pistachio;
    &__header{
        padding: 2rem 1rem 1rem 1rem;
    }
    &__subheader{
        padding: 1rem;
    }
    &__dates{
        display: flex;
        justify-content: center;
    }
    &{
        margin-right: 2rem;
    }
    &__container{
        font-size: larger;
        font-weight: 600;
    }
    &__content--center{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 1rem 2rem 1rem;
    }
    &__next-period--date, &__ovulation--date{
        background-color: $forest-green;
        color: $white;
        padding: 1rem;
        gap: 1rem;
        border-radius: 1rem;
    }
    &__cycle{
        margin-right: 1rem;
    }
}

button{
    border-radius: 1rem;
}

.react-calendar{
    background-color: $white;
    color: $black;
    &__tile{
        color: $black;
    }
    &__navigation{
        background-color: $white;
        color: $black;
    &__arrow, &__label{
        background-color: $white;
        color: $black;
    }
}
}

.highlight-period {
    background-color: #ffccd5 !important; // Light pink background
    color: #d63384 !important; // Dark pink text
    border-radius: 50%;
    font-weight: bold;
  }
  